.checkbox {
  display: flex;
  align-items: baseline;
  font-size: 14px;
  line-height: 1.43;
}

.checkbox__icon {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  margin-right: 10px;
  border: 1px solid $gold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  svg {
    opacity: 0;
    transition: 0.3s;
  }

  [type="checkbox"]:focus ~ & {
    border-color: $col;
  }

  [type="checkbox"]:checked ~ & {
    background: $gold;

    svg {
      opacity: 1;
    }

    &:hover {
      background: $col;
    }
  }

  [type="checkbox"]:checked:focus ~ & {
    background: $col;
  }

  &:hover {
    border-color: $col;
  }
}

.checkbox__text {

}

@media #{$s} {
  .checkbox {
    line-height: 1.57;
    margin-bottom: -30px;
  }

  .checkbox__icon {
    width: 20px;
    height: 20px;
  }
}
