.text-link {
  display: block;
  font: 14px/1.43 $font-main;
  text-transform: none;
  color: $col;
  padding: 6px 0 10px;
  letter-spacing: 0;
  text-align: center;
}

@media #{$s} {
  .text-link {
    line-height: 1.57;
    padding: 10px 0 0;
  }
}
