.description-cards {
  margin: 40px 0;

  &--synopsis {
    //
  }

  &--small {
    //
  }

  &--only-text {
    //
  }
}

.description-cards__sect-title {
  @include title-24;
  margin: 0 0 25px;
  text-align: center;
}

.description-cards__pubdate {
  display: block;
  margin: 5px 0 0;
  font: 400 14px/1.29 $font-main;
  text-transform: none;
  color: $col;
}

.description-cards__list {
  //
}
.description-cards__center{
  margin-left: 274px;
  max-width: 1746px;
  align-items: center;
  text-align: left; 
  text-align:justify;
}
.description-cards__item {
  margin-bottom: 40px;
  align-items: flex-start;

  &:only-child {
    margin-bottom: 0;
  }

  &:nth-child(even) {
    flex-direction: row-reverse;

    .description-cards__about {
      margin-right: auto;

    }
  }

  .description-cards--small & {
    margin-bottom: 50px;
  }

  .description-cards--only-text & {
    margin-bottom: 25px;
  }
}

.description-cards__info {
  display: flex;
  flex-direction: column;

  p {
    margin: 0;
  }
}

.description-cards__img {
  // @include border;
  border:none;
  padding: 3px;

  img {
    display: block;
    width: 100%;
  }
}

.description-cards__share {
  margin-top: auto;
}

.description-cards__about {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  align-self: stretch;

    &:last-child {
      margin-bottom: 0;
    }

  .description-cards--synopsis & {
    justify-content: space-between;
    padding-bottom: 45px;
  }
}

.description-cards__title {
  @include title-24;
  margin: -0.4em 0 5px;
  font-weight: 700;
  text-align: left;
  text-transform: initial;

  .description-cards--small & {
    margin-top: -0.3em;
    font-size: 18px;
    line-height: 1.44;
    text-transform: uppercase;
  }

  .description-cards--only-text & {
    font-weight: 400;
  }
}

.description-cards__profession,
.description-cards__rewards {
  font-size: 18px;
  line-height: 1.44;
  color: $gold;
  margin: 0;
}

.description-cards__descr {
  overflow: hidden;
  transition: 0.5s;
  margin: 25px 0 auto;
  font-size: 18px;
  line-height: 26px;
  position: relative;

  .description-cards--small & {
    margin: 0 0 25px;
  }

  .description-cards--only-text & {
    margin-top: 20px;
  }

  &:first-child {
    margin-top: -0.33em;
  }

  p {
    margin: 0;
  }

  a {
    color: $gold;
  }
}



.description-cards__links {
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  a {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.description-cards__sect {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  h4 {
    @include title;
    text-transform: none;
    text-align: left;
  }

  p {
    font-size: 24px;
    line-height: 1.42;
    margin: 0;
  }
}

@media #{$t} {

    .description-cards__sect-title {
    margin-bottom: 40px;

      &--gold {
        color: $gold;
        font-weight: 400;
      }
    }

 .description-cards__center{
      text-align:justify;
  } 

  .description-cards__item {
    justify-content: center;
  }

  .description-cards__info {
    // margin: 0 0 25px;
  }

  .description-cards__title {
    font-size: 18px;
    line-height: 1.56;
    text-align: center;

    .description-cards--small & {
      margin: 0 0 4px;
    }
  }

  .description-cards__descr {
    font-size: 16px;
    line-height: 25px;
  }
}

@media #{$s} {
  .description-cards {
    margin-bottom: 50px;

    &--synopsis {
      margin-bottom: 30px;
    }

    .artist & {
      margin-bottom: 0;
    }
  }

  .description-cards__title {
    margin-bottom: 5px;

    &--uppercase {
      text-transform: uppercase;
    }

    &--bold {
      .description-cards--only-text & {
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }

  .description-cards__list {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .description-cards__img {
    border: none;
    padding: 0;
    margin-bottom: 0;

    &--margin {
      margin-bottom: 30px;
    }
  }

  .description-cards__sect-title {
    font-size: 16px;
    line-height: 1.56;
    margin-bottom: 30px;
  }

  .description-cards__profession {
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 5px;
  }

  .description-cards__rewards {
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
  }

  .description-cards__info {
    margin-bottom: 30px;

    .description-cards--synopsis & {
      margin-bottom: 0;
    }

    &--bold {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.56;
    }
  }

  .description-cards__descr {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .description-cards__share {
    margin-right: auto;
  }

  .description-cards__center{
    text-align:justify;
  } 
  .description-cards__item {

    &:nth-child(even),
    &:nth-child(odd) {
      .description-cards__about {
        margin-right: 0;
        margin-left: 0;
      }
    }

    .description-cards--small & {
      margin-bottom: 40px;
    }

    .description-cards--only-text & {
      margin-bottom: 25px;
    }
  }

  .description-cards__sect {
    margin: 0;

    h4,
    p {
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .description-cards__about {

    .description-cards--synopsis & {
      padding-bottom: 0;
      margin-bottom: 40px;
      order: -1;
    }
  }

}



