.download-link {
  margin: 40px 0 90px;
  text-align: center;
}

.download-link__title {
  @include title-24;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}

@media #{$s} {
  .download-link__title {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 40px;
  }
}


