.page-title {
  @include title-34;
  margin: 40px 0;

  &--second {
    margin: 23px 0 27px;
  }

  &--small {
    margin-bottom: 20px;
  }

  .page-title__mob-black {
    display: inline-block;
    @include title-34;
  }
}


@media #{$t} {
  .page-title {
    font-size: 24px;
    line-height: 1.42;
    font-weight: 400;
    margin: 40px 0;

    &--small {
      margin: 40px 0;
    }

    &--nomobile {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    &--not-marg-bot {
      margin-bottom: 0;
    }
  }
}

@media #{$s} {
  .page-title {
    .page-title__mob-black {
      font-size: 18px;
      line-height: 28px;
      text-transform: initial;
      color: $col;
      display: block;
    }
  }
}
