@media print {
// @media (min-width: 700px) {
  @page {
    size: A4 landscape;
  }

  .kasir-header {
    display: none !important;
  }

  .btn {
    display: none !important;
  }

  .report-kasir {
    font-size: 10px;
  }
}
