.checkbox {
  padding-left: 24px;
  cursor: pointer;
  display: block;
  position: relative;

  &--big {
    padding-left: 30px;
  }
}

.checkbox__icon {
  position: absolute;
  left: 0;
  top: 5px;
  width: 14px;
  height: 14px;
  border: 1px solid $gold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;

  .checkbox--big & {
    width: 20px;
    height: 20px;
    top: 1px;
  }

  .checkbox--gray & {
    border: 1px solid #666666;

    svg {
      fill: #666666;
    }
  }

  svg {
    opacity: 0;
    transition: 0.3s;
  }

  [type="checkbox"]:focus ~ & {
    border-color: $col;
  }

  [type="checkbox"]:checked ~ & {
    background: $gold;

    .checkbox--gray & {
      background: none;
    }

    svg {
      opacity: 1;
    }
  }

  [type="checkbox"]:checked:focus ~ & {
    background: $col;

    .checkbox--gray & {
      svg {
        fill: #fff;
      }
    }
  }

  label:hover & {
    border-color: $col;
  }

  label:hover [type="checkbox"]:checked ~ &  {
    background: $col;
  }

  .checkbox--gray:hover [type="checkbox"]:checked ~ & {
    svg {
      fill: #fff;
    }
  }
}

@media #{$s} {
  .checkbox {
    font-size: 14px;
    line-height: 1.57;
  }
}
