.preloader {
  background: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &--inline {
    position: relative;
    width: 100%;
    min-height: 180px;
  }

  &--small {
    min-height: 0;
    width: auto;
  }
}
