.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  display: block;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__inner {
  height: 100%;
  overflow: auto;
  padding: 5vw;
  display: flex;
}

.popup__wrap {
  max-width: 350px;
  width: 100%;
  margin: auto;
  position: relative;
  border: 1px solid #ababab;
  background: #fff;
  padding: 20px;

  .popup--full & {
    max-width: 100%;
  }

  .popup--600 & {
    max-width: 600px;
  }
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.popup__img {
  margin: 30px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}
