$border: 1px solid #ccc;

.cart-aside {
  border: $border;
  padding: 5px 14px 28px;
}

.cart-aside__title {
  text-align: center;
  font-size: 16px;
  line-height: 1.38;
  margin: 0 0 5px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-aside__list-wrap {
  border-top: $border;
  border-bottom: $border;
  min-height: 125px;
  max-height: 248px;
  margin: 0 0 20px;
  padding: 14px 0;
}

.cart-aside__list {
  margin: 0 -14px 0 0;
  padding: 0;
  list-style: none;
  max-height: 220px;
  min-height: 96px;
  overflow-y: auto;
}

.cart-aside__list-empty {
  margin: 0;
  text-align: center;
}

.cart-aside__item {
  margin-right: 14px;

  &:not(:last-child) {
    padding-bottom: 14px;
    border-bottom: $border;
    margin-bottom: 14px;
  }
}

.cart-aside__item-title {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 400;
  margin: 0 0 11px;
}

.cart-aside__item-datetime {
  margin: 0 0 23px;
  font-size: 14px;
  line-height: 1.43;
}

.cart-aside__item-total {
  margin: 0 0 14px;
  font-size: 14px;
  line-height: 1.43;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.cart-aside__total {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  margin: 0 0 30px;

  &:last-child {
    margin: 0;
  }
}

.cart-aside__btn-pay {
  margin-bottom: 25px;
}

.cart-aside__tickets {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 1.43;

  li {
    display: flex;
    align-items: flex-start;
    margin: 0 0 14px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.cart-aside__ticket-info {
  margin-right: auto;

  p {
    margin: 0;
  }
}

.cart-aside__ticket-download {
  border: 0;
  border-radius: 0;
  padding: 0;
  background: none;
  display: flex;
  margin-left: 10px;
  color: inherit;
  text-decoration: none;
  transition: 0.3s;

  &:hover {
    color: $gold;
  }

  svg {
    fill: currentColor;
  }
}

@media #{$s} {
  .cart-aside {
    position: fixed;
    top: 44px;
    left: 0;
    right: 0;
    bottom: 40px;
    border: none;
    padding: 22px 10px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    z-index: 1500;
    text-align: center;
  }

  .cart-aside__title {
    line-height: 1.5;
    margin: 0 0 10px;
  }

  .cart-aside__list-wrap {
    min-height: 200px;
    max-height: none;
    padding: 0;
    text-align: left;
  }

  .cart-aside__list {
    margin: 0;
    max-height: none;
    min-height: 200px;
  }

  .cart-aside__item {
    margin: 0;
    padding: 10px 0 24px;

    &:not(:last-child) {
      margin: 0;
      padding: 10px 0 24px;
    }
  }

  .cart-aside__item-title {
    font-size: 14px;
    line-height: 1.57;
  }

  .cart-aside__item-datetime {
    margin: 0 0 20px;
    line-height: 1.57;
  }

  .cart-aside__item-total {
    margin: 0;
    line-height: 1.57;
  }

  .cart-aside__total {
    margin: 0 0 40px;
  }

  .cart-aside__btn-pay {
    margin-bottom: 40px;
  }

  .cart-aside__tickets {
    line-height: 1.57;

    li {
      align-items: center;
      margin-bottom: 40px;
    }
  }

  .cart-aside__ticket-download {
    margin-left: 0;
    margin-right: 30px;
  }
}
