.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100000;
  display: block;
  overflow: hidden;
  background-color: #ffffff;
}

.popup__inner {
  height: 100%;
  overflow: auto;
  padding: 5vw;
  display: flex;
}

.popup__wrap {
  max-width: 320px;
  width: 100%;
  margin: auto;
  position: relative;
  border: 1px solid #ababab;
  padding: 20px 20px 40px;

  .popup--full & {
    max-width: 100%;
  }

  .popup--img & {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.popup__close {
  position: static;
  margin: 0 0 20px auto;
}

.popup__img {
  flex-grow: 1;
  width: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media #{$s} {
  .popup {
    &--img {
      top: 44px;
      bottom: 40px;
    }
  }

  .popup__inner {
    .popup--img & {
      padding: 10px;
    }
  }

  .popup__wrap {
    .popup--img & {
      padding: 10px;
    }
  }

  .popup__close {
    .popup--img & {
      margin: 0 0 10px auto;
    }
  }
}
