.legend {
  border: 1px solid #cccccc;
  width: 170px;
  padding: 6px 10px;
  background: #fff;
}

.legend__btn {
  padding: 0 20px;
  border: 0;
  background: none;
  border-radius: 0;
  display: block;
  width: 100%;
  position: relative;

  svg {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -3.5px;
    transition: 0.3s;
  }

  &[data-close] {
    svg {
      transform: rotate(180deg);
    }
  }
}

.legend__btn-title {
  text-transform: uppercase;
}

.legend__list {
  margin: 15px 0 0;
  padding: 0;
  list-style: none;
  min-height: 145px;
}

.legend__item {
  margin: 0 0 10px;
  display: flex;
  align-items: center;
}

.legend__item-icon {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: 0 20px 0 0;
}

@media #{$s} {
  .legend {
    font-size: 12px;
    line-height: 1.67;
    padding: 4px 10px;
    width: 140px;
  }

  .legend__btn {
    padding: 0 20px 0 0;
    text-align: left;

    svg {
      width: 14px;
      height: 10px;
      margin-top: -5px;
    }
  }

  .legend__btn-title {
    text-transform: none;
  }

  .legend__list {
    min-height: 0;
  }
}
