$col: #333;
$col-light: #666;
$col-light-grey: #999;
$bg: #fff;
$red: #da1711;
$red-hover: #af0007;
$red-active: #b7191f;
$gold: #cc9933;
$gold-hover: #c39c3d;
$white: #fff;
$link-col: #3399ff;

$font-main: "Lato", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
$font-second: "PlayfairDisplay", "Times New Roman", Times, serif;

$menu-width-desktop: 210px;
$menu-second-width-desktop: 330px;

$cart-global-height: 46px;
$cart-global-height-mobile: 44px;
