.calendar-list-event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
  line-height: 18px;
  font-size: 14px;

  .calendar-list-event__sold,
  .calendar-list-event__online {
    display: none;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    color: $red;
    background: none;
    text-align: center;
    border: 0;
    cursor: default;
  }

  &[data-online-close="true"] {
    .calendar-list-event__online {
      display: block;
    }

    .calendar-list-event__btn {
      display: none;
    }
  }

  &[data-sold="true"] {
    .calendar-list-event__sold {
      display: block;
    }

    .calendar-list-event__btn,
    .calendar-list-event__price-range,
    .calendar-list-event__online {
      display: none;
    }
  }

  &[data-tickets-not-exist="true"] {
    .calendar-list-event__online,
    .calendar-list-event__sold,
    .calendar-list-event__btn,
    .calendar-list-event__price-range  {
      display: none;
    }
  }
}

.calendar-list-event__price-range {
  font-size: 12px;
  line-height: 1.33;
  margin: 0 0 5px;
}

.calendar-list-event__descr {
  width: 19%;
  text-align: center;
}

.calendar-list-event__info {
  width: 57.2%;
  margin: 0 15px;
}

.calendar-list-event__buy {
  text-align: center;
}

.calendar-list-event__scene,
.calendar-list-event__time,
.calendar-list-event__type,
.calendar-list-event__author,
.calendar-list-event__artists,
.calendar-list-event__name {
  display: block;
  margin: 0 0 6px;

  &:last-child {
    margin-bottom: 0;
  }
}

.calendar-list-event__name {
  font-size: 16px;
  font-family: $font-second;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  .calendar-list-event:hover & {
    text-decoration: underline;
  }
}

@media #{$s} {
  .calendar-list-event {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 12px 40px;
    background: #f6f2ed;
  }

  .calendar-list-event__descr,
  .calendar-list-event__info {
    text-align: left;
    width: 100%;
  }

  .calendar-list-event__info {
    margin: 0;
  }

  .calendar-list-event__scene,
  .calendar-list-event__time {
    line-height: 1.57;
    margin-bottom: 4px;
  }

  .calendar-list-event__author {
    line-height: 1.57;
    margin-bottom: 6px;
  }

  .calendar-list-event__type {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 20px;
    }
  }

  .calendar-list-event__name {
    line-height: 1.38;
    margin-bottom: 6px;
    text-decoration: underline;
  }

  .calendar-list-event__artists {
    line-height: 1.57;

    &:last-child {
      margin-bottom: 22px;
    }
  }

  .calendar-list-event__price-range {
    margin-bottom: 6px;
    line-height: 1.57;
    font-size: 14px;
  }

  // .calendar-list-event__sold,
  // .calendar-list-event__online {
  //   padding: 50px 0;
  // }
}
