.contact-us {
  margin: 80px 0 50px;
  text-align: center;
}

.contact-us__title {
  @include title-24;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
  &--mobile {
    display: none;
    font-weight: 400;
  }
}


@media #{$s} {
  .contact-us {
    margin: 64px 0 60px;
  }

  .contact-us__title {
    line-height: 1.17;
    color: $gold;
    display: none;
    margin-bottom: 45px;

    &--mobile {
      display: block;
    }
  }
}
