.poster-aside {
  .btn {
    margin: 0 0 5px;
  }
}

.poster-aside__calendar {
  &.vdp-datepicker__calendar {
    font-size: 0.8em !important;
    width: 100% !important;
    border-color: $brand !important;

    .cell {
      height: 25px !important;
      line-height: 25px !important;
      padding: 0 2px !important;

      &.highlighted {

      }

      &.selected {
        background: $brand !important;
        color: #fff !important;
      }

      &:not(.blank):not(.disabled).day:hover,
      &:not(.blank):not(.disabled).month:hover,
      &:not(.blank):not(.disabled).year:hover {
        border-color: $brand !important;
      }
    }

    header {
      line-height: 25px !important;
    }
  }
}

