.constructor-canvas {
  border: 1px solid #ccc;
  width: 100%;
  flex-grow: 1;
  display: flex;
  padding: 5px;
  font-family: "Times New Roman", serif;
}

.constructor-canvas__inner {
  overflow: auto;
  width: 100%;
}

.constructor-canvas__ticket {
  outline: 1px solid #007bff;
  outline-offset: -2px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;

  img {
    .object-fit & {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }
  }
}
