.article {
  @include border;
  padding: 3px 5px 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  .btn-more-link,
  .btn-buy {
    margin-top: auto;
  }

  // &--maecenas {

  //   .btn-more {
  //     margin-top: 12px;
  //   }

  //   .btn-more-link {
  //     margin-right: auto;
  //     text-decoration: none;
  //   }

  //   .article__descr {
  //     text-align: left;
  //   }
  // }
}

.article__img {
  align-self: stretch;
  margin: 0 -2px 12px;

  img {
    width: 100%;
    display: block;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
}

.article__city { /*Не проверял*/
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  margin: 0;
  text-transform: uppercase;
  font-family: $font-second;
}

.article__hall { /*Не проверял*/
  margin: 0;
  font-size: 12px;
  line-height: 1.4;
}

.article__tour { /*Не проверял*/
  margin: 0 0 1em;
  font-size: 16px;
  line-height: 1;
}

.article__tour-city { /*Не проверял*/
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
}

.article__tour-place { /*Не проверял*/
  margin: 0;
  font-style: italic;
}

.article__type-place {
  margin: 0 0 7px;
  color: $gold;

  span {
    & + span {

      &::before {
        content: "/";
        margin: 0 4px 0 0;
      }
    }
  }
}

.article__container {
  // margin-bottom: auto;
  padding: 0 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article__title {
  @include title;
  // margin-bottom: 32px; Просьба руководства

  &--abonement {
    text-align: left;
    margin-bottom: 6px;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
}

.article__datetime {
  display: block;
  margin-bottom: 18px;

  .articles--representation & {
    margin-bottom: 38px;
  }
}


.article__descr {
  margin: 0 0 18px;
  font-size: 14px;
  line-height: 1.57;
  text-align: left;
  color: $col-light;
  max-width: 100%;

   &--abonement {
    margin-bottom: 40px;
  }

  p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.article__price {
  align-items: flex-start;
  font-size: 18px;
  line-height: 1.44;
  margin-bottom: 5px;
}

@media #{$s} {
  .article {
    padding: 3px 10px 20px;
  }

  .article__img {
    margin: 0 -7px 15px;
  }

  .article__type-place {
    margin: 0 0 2px;
  }

  .article__title {
    margin-bottom: 2px;
    line-height: 1.56;
  }

  .article__datetime {
    margin-bottom: 16px;
    .articles--representation & {
      margin-bottom: 30px;
    }
  }

  .article__descr {
    margin-bottom: 23px;
    line-height: 1.57;
  }
}
