// Mobile first
$d-xx-m: "(min-width: 1601px)";
$d-x-m: "(min-width: 1201px)";
$d-m: "(min-width: 1025px)";
$t-m: "(min-width: 768px)";
$m480-m: "(min-width: 481px)";

// Desktop first
$d-xx: "(max-width: 1600px)";
$d-x: "(max-width: 1200px)";
$t: "(max-width: 1024px)";
$s: "(max-width: 767px)";
$m480: "(max-width: 480px)";

// Help variables
$p: "(orientation: portrait)";
$l: "(orientation: landscape)";
$dppx: "(min-resolution: 1.5dppx)";
$dpi: "(min-resolution: 144dpi)";
$retina: $dppx, $dpi;

