.social-share {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 20px 0 0;
  font-size: 18px;
  line-height: 1.44;
}

.social-share__text {
  margin: 0;
}

.social-share__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  li {
    &:not(:last-child) {
     margin-right: 8px;
    }
  }
}

.social-share__item {
  padding: 0 5px;
  display: flex;

  svg {
    width: 20px;
    height: 20px;
    fill: $col-light;
  }
}


@media #{$s} {
  .social-share {
    font-size: 16px;
    line-height: 1.56;
    padding: 0;
    margin: 40px 0 0 0;
  }

  .social-share__list {
    padding: 0 0 0 20px;

     li {
      &:not(:last-child) {
       margin-right: 15px;
      }
    }
  }
}
