.service-section {
}

.service-section__list {
  margin: 0;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 55px;
  }
}

.service-section__title {
  @include title-24;
  text-align: left;
  margin: 0 0 25px;
  max-width: 640px;
}

.service-section__descr {
  max-width: 640px;
  font-size: 18px;
  line-height: 1.44;
  margin-bottom: 25px;

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: $gold;
  }

  table {
    width: 100%;
    border: 0;
    margin: 30px 0 0;

    td,
    th {
      border: 0;
      width: calc(100% - 250px);

      &:first-child {
        width: 250px;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}

@media #{$s} {
  .service-section__title {
    font-size: 18px;
    line-height: 1.56;
    margin-bottom: 30px;
    text-align: center;
  }

  .service-section__descr {
    table {
      td,
      th {
        width: 50%;

        &:first-child {
          width: 50%;
        }
      }
    }
  }
}
