.kasir-header {
  background: $brand;
}

.kasir-header__name {
  color: #fff;
  margin: 0;
}

.kasir-header__nav {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.kasir-header__name {
  width: 300px;
  display: flex;
  align-items: center;
}

.kasir-header__additional {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.kasir-header__link {
  text-decoration: none;
  color: #fff;
  margin-right: 10px;

  svg {
    transition: 0.3s;
    display: block;
  }

  &:hover {
    svg {
      fill: $primary;
    }
  }
}

.kasir-header__name-value {
  flex-grow: 1;
}
